//RESET CONFIGS
@import 'library/RESET';

//VARIABLES


//STYLES

body {
    font-family : monospace;
    color       : #000;
    background-color: #fff;

    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}